html {
  overflow: hidden;
  //  background: url(https://cfp.gotdns.ch/clipart/bg/bg1.png);
  background-color: black;
  background-image: url(../img/wp.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.window-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  user-select: none;
  width: 500px;
  height: 350px;
  position: absolute;
  animation: zoomin 300ms;
}

.window-close {
  animation: zoomout 300ms;
  animation-fill-mode: forwards;
}

@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes zoomin {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.window {
  display: block;
  padding: 0;
  position: absolute;
}

.icon {
  width: 30px;
  height: 30px;
}

.icon-loading {
  width: 130px;
}

.bar {
  display: flex;
  align-items: center;
  width: calc(100% - 15px);
  margin-left: 10px;
  margin-right: 5px;
  gap: 5px;
  user-select: none;
}

.controls {
  /* display: flex;
  justify-content: flex-end;
  float: right; */
  margin-left: auto;
}

.controls a {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  transition: background-color 100ms;
}

.control-close:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.control:hover {
  background-color: rgba(0, 0, 255, 0.5);
}

#taskbar {
  user-select: none;
  z-index: 999;
  display: flex;
  gap: 5px;
}

.start-text {
  color: white;
  font-size: 30px;
}

#start {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
}

#html_taskbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0;
  gap: 5px;
  height: 100vh;
}

.start-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
